:root {
    --primary-color: #f5f5f8;
    --border-color: #c1c4d3;
    --font-color: #828dac;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clr {
    clear: both;
}

.text-large {
    font-size: 40px;
}

.bold {
    font-weight: bold;
}

/* Utility */
.container {
    max-width: 1350px;
    margin: auto;
}

/* navbar */
#navbar .container {
    display: flex;
    font-size: 18px;
    border-bottom: solid 2px var(--border-color);
    color: var(--font-color);
}

#navbar .logo,
#navbar .ul {
    flex: 1;
    width: 50%;
    padding-top: 70px;
    /* padding-bottom: 33px; */
}

#navbar .logo p {
    margin-left: 1rem;
}

#navbar .ul {
    height: 100%;
    background: #f5f5f8;
    border-left: solid 2px var(--border-color);
}

#navbar .logo {
    height: 100%;
}

#navbar .logo .primary {
    font-weight: bold;
}

#navbar .logo .small {
    font-size: 9px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    padding-bottom: 33px;
}

#navbar ul :last-child {
    margin-right: 0px;
}

#navbar ul li {
    margin-right: 20px;
}

#navbar ul li a {
    color: var(--font-color);
}
/* hero */
#hero .container {
    background: url("../imgs/hero.jpg") no-repeat center;
    font-size: 70px;
    color: white;
    height: 35rem;
    border-bottom: 2px solid var(--border-color);
    position: relative;
}

#hero .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 49.9%;
    height: 50.5%;
    background: #50658a;
    padding: 60px 60px;
}

#hero .text .small {
    font-size: 20px;
}
/* paragraph */

#paragraph .container .paragraph-content {
    position: relative;
    margin: auto;
    background: var(--primary-color);
    font-size: 28px;
    color: var(--font-color);
    padding: 70px 200px;
    width: 80%;
    margin-top: -6rem;
}

#paragraph p {
    line-height: 2.5rem;
    margin-bottom: 20px;
}

/* core service */
#core-service .container .main-heading {
    margin-top: 1em;
    padding-bottom: 140px;
    text-align: center;
}

#core-service h1 {
    font-size: 40px;
    color: var(--font-color);
}

#core-service h2 {
    font-size: 25px;
    color: #c1c4d3;
    margin-bottom: 15px;
}

#core-service p {
    font-size: 20px;
    color: #465b83;
}

#core-service .core-service-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#core-service .step {
    position: relative;
    border-top: 2px solid var(--border-color);
    padding-top: 150px;
    padding-bottom: 140px;
}

#core-service .step_left {
    border-right: 2px solid var(--border-color);
    padding-left: 10rem;
    padding-right: 10rem;
}

#core-service .step_right {
    padding-left: 10rem;
    padding-right: 10rem;
}

#core-service .step-content {
    /* position: absolute; */
    text-align: center;
}

#core-service .step-content p {
    line-height: 2rem;
}

#core-service img {
    position: absolute;
    top: -66px;
}

#core-service .icon_left {
    right: 15rem;
}

#core-service .icon_right {
    left: 17rem;
}

/* about */
#about {
}

#about .container {
    background: url("../imgs/about_background.jpg") no-repeat center
        center/cover;
    padding-bottom: 50px;
}

#about .about-content {
    color: #465b83;
    text-align: center;
    border: 2px solid var(--border-color);
    background: #f5f5f8;
    width: 80%;
    margin: auto;
}

#about h1 {
    font-size: 40px;
    color: #828dac;
}

#about p {
    font-size: 22px;
    line-height: 2rem;
    margin: 50px 45px;
}

#about .about-pics {
    padding: 50px 50px;
    display: flex;
}

#about .about-pic {
    flex: 1;
    width: 33%;
    height: 20rem;
    position: relative;
    border: 1px solid var(--border-color);
    color: white;
}

#about .about-pic span {
    display: block;
}

#about .bg-paul {
    background: url(../imgs/paul.jpg) no-repeat center;
    background-size: cover;
}
#about .bg-nick {
    background: url(../imgs/nicholas.jpg) no-repeat center;
    background-size: cover;
}
#about .bg-mary {
    background: url(../imgs/mary.jpg) no-repeat center;
    background-size: cover;
}

#about .about-pic span {
    position: absolute;
    top: 25px;
    left: 25px;
    text-align: left;
}

.media-heading {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    color: #828dac;
}

.media .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.media .card {
    padding: 60px 150px;
    border-top: 2px solid var(--border-color);
}

.media .card:nth-child(1),
.media .card:nth-child(3) {
    border-right: 2px solid var(--border-color);
}

.media h3,
.media p {
    line-height: 2.5rem;
    margin-bottom: 30px;
}

.media h3 {
    font-size: 18px;
    color: #828dac;
}

.media p {
    font-size: 28px;
    color: #465b83;
}

.media .small {
    font-size: 18px;
}

/* connect */
#connect .container {
    background: #f5f5f8;
    padding: 70px 150px;
}

#connect h1 {
    text-align: center;
    font-size: 40px;
    color: #828dac;
    margin-bottom: 45px;
}

#connect h1 span {
    font-weight: bold;
}

#connect .textarea {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

#connect .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

#connect .form-group .form {
    display: grid;
}

#connect .form-group .form label {
    font-size: 18px;
    color: #828dac;
    display: block;
    margin-bottom: 5px;
}

#connect .form-group .form textarea,
#connect .form-group .form input {
    border: 2px solid var(--border-color);
    height: 45px;
}

#connect .form-group .form textarea {
    height: 150px;
}

#connect .form-group .form p {
    padding-top: 15px;
    font-size: 25px;
    color: #828dac;
}

#connect .form-group .form p span {
    margin-right: 25px;
}

#connect .form-group .form p .btn {
    background: #456b83;
    color: white;
    padding: 8px;
    border: 1px solid var(--border-color);
    margin-right: 0;
}

#connect .form-group .form p .bold {
    font-weight: bold;
}
